<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="globalVariables" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">RFQ_Due_NoOfDays</value>
        <value name="value">7</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">SCO_BuyerName</value>
        <value name="value">DEEPWATER OIL COMPANY</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">SCO_BuyerID</value>
        <value name="value">OILCOMPANY123</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">SCO_BuyerAddr1</value>
        <value name="value">1500 OFFSHORE BOULEVARD</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">SCO_State</value>
        <value name="value">TX</value>
        <value name="isSecure">false</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
